<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path Finder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>CMRIT Floor Navigation System</h1>
    </header>
    <div class="container">
        <div class="left-section">
            <h2>Path Finder</h2>
            <form id="searchForm">
                <label for="source"><b>Source:</b></label><br>
                <input type="text" id="source" name="source"><br>
                <label for="destination"><b>Destination:</b></label><br>
                <input type="text" id="destination" name="destination"><br><br>
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="path-container">
            <h3>Path from Source to Destination:</h3>
            <ul id="pathList">
                <!-- Path will be displayed here dynamically -->
            </ul>
        </div>
        <div class="image-container">
            <div class="slider">
                <img src="{{ url_for('static', filename='images/First.jpg') }}" alt="Map Image 1">
                <img src="{{ url_for('static', filename='images/Second.png') }}" alt="Map Image 2">
                <img src="{{ url_for('static', filename='images/Third.jpg') }}" alt="Map Image 3">
            </div>
            <button class="prev">&laquo;</button>
            <button class="next">&raquo;</button>
        </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slider.js') }}"></script>
</body>
</html>
